/*
===================================
MAIN MIXINs FOR ALL PAGES

Author: hung.luong@matocreative.vn

===================================
 */

/*
MIXINS
 */

@mixin gradient-metal{
    background: rgba(251,216,190,1);
    background: -moz-linear-gradient(-45deg, rgba(251,216,190,1) 0%, rgba(154,102,63,1) 10%, rgba(111,73,47,1) 45%, rgba(154,102,63,1) 82%, rgba(154,102,63,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(251,216,190,1)), color-stop(10%, rgba(154,102,63,1)), color-stop(45%, rgba(111,73,47,1)), color-stop(82%, rgba(154,102,63,1)), color-stop(100%, rgba(154,102,63,1)));
    background: -webkit-linear-gradient(-45deg, rgba(251,216,190,1) 0%, rgba(154,102,63,1) 10%, rgba(111,73,47,1) 45%, rgba(154,102,63,1) 82%, rgba(154,102,63,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(251,216,190,1) 0%, rgba(154,102,63,1) 10%, rgba(111,73,47,1) 45%, rgba(154,102,63,1) 82%, rgba(154,102,63,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(251,216,190,1) 0%, rgba(154,102,63,1) 10%, rgba(111,73,47,1) 45%, rgba(154,102,63,1) 82%, rgba(154,102,63,1) 100%);
}

@mixin transition($duration){
    -webkit-transition: all ease-in-out $duration;
    -moz-transition: all ease-in-out $duration;
    -ms-transition: all ease-in-out $duration;
    -o-transition: all ease-in-out $duration;
    transition: all ease-in-out $duration;
}