/*
===================================
MAIN VARIABLES FOR ALL PAGES

Author: hung.luong@matocreative.vn

===================================
 */

/*
VARIABLES
 */

$primary: #333;
$primary-hover: #333;

$gray-light: #999;
$gray: #666;
$gray-dark: #333;